*{
  box-sizing: border-box;
}

body {
  background-color: red;
  height: 100vh;
  margin-top: 50px;


} 

.grid {
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  justify-content: center;
  height: 80vmin;
  width: 80vmin;
  background: white;
}
.grid-wrapper {

display: flex;
justify-content: center;
align-items: center;

}



.grid div {
  border: 1px solid palegreen;

  flex-grow: 1;
  height: 5%;
  width: 5%;
}


.snake {

}

.snake-food {


}