*{
  box-sizing: border-box;
}

body {
  background-color: red;
  height: 100vh;
  margin-top: 50px;


} 

.grid {
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  justify-content: center;
  height: 80vmin;
  width: 80vmin;
  background: white;
}
.grid-wrapper {

display: flex;
justify-content: center;
align-items: center;

}



.grid div {
  border: 1px solid rgb(180, 233, 180);
  flex-grow: 1;
  height: 5%;
  width: 5%;
}


.grid div.snake {
/* background-image: url('./styles/51QFEwUPV5L.jpg'); */
background-color: red;
background-size: contain;
background-repeat: no-repeat;
cursor: pointer;
}

.grid div.food {
background-color:blue;
background-size: contain;
background-repeat: no-repeat;
cursor: pointer;
}